@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');

@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

:root {
	--background: #f0f0f0;
	--textcol: #1A1110;
}